<!--js libraries-->
script(src="/socket.io/socket.io.js")
script(src="/lib/phaser/phaser.min.js")
script(src="/lib/jquery/dist/jquery.min.js")
script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
block scripts
